*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url(background.png);
   
}
li a{
    text-decoration: none;
    color: black;
}
ul li{
    list-style: none;
    display: inline-flex;
    justify-content: center;
    margin: 0 20px;
    padding: 0 20px;
    text-align: justify;
    font-size: 22px;
    font-family: 'Schoolbell', cursive;

}
li:hover{
    font-size: 27px;
}
ul{
   background-color: whitesmoke;
   height: 10vh;
   
    display: flex;
    align-items: center;
   justify-content: right;
}
ul .menu{
    display: none;
    height: 30px;
    cursor: pointer;
}


img{
    margin: 65px;
    margin-top: 90px;
    margin-left: 200px;
    height: 50vh;
    border-radius: 100%;

}
.container{
    display: flex;
    
}

.intro{
    font-size: 50px;
    align-self: center;
    margin-left: 180px;
    font-family: 'Schoolbell', cursive;
}
#btn{
    height: 37px;
    width: 122px;
    color: whitesmoke;
    background-color: orange;
    border-radius: 30px;
    
}

#btn a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width:1050px) {
    
    .log{
        display: none;
    }

    .intro{
        margin-top: 145px;
        margin-left: 220px;
    }
}
/* @media screen and (max-width: 950px){
    li a{
        display: none;
    }
    ul{
        height: 15vh;
    }
    .menu{
        display: flex;
        justify-content: center;
    }
} */









